/* GLOBAL CONFIGS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Pathway Extreme', sans-serif;
}

body {
    background-color: #303841;
}

a {
    text-decoration: none;
    color: #e6cfa5;
}





/* HEADER */

header {
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 175px;
    text-align: center;
    display: inline-block;

}

h1 {
    color: #fffff0;
    display: inline-block;
    vertical-align: 75px;
    margin-left: 35px;
    font-size: 45px;
    animation-name: h1-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;

}

@keyframes h1-anim {
    from {
        margin-top: 0px;
    }

    to {
        margin-top: 45px;
    }
}   


#logo {
    width: 0px;
    margin: 15px 0;
    text-align: center;
    animation-name: logo-anim;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes logo-anim {
    from {
        width:0%;
    }

    70% {
        width: 100px;
        filter: blur(4px);
    }

    85% {
        filter: drop-shadow(2px 2px 5px #fffff0);
        filter: drop-shadow(2px 2px 15px #fffff0);
    }

    to {
        width: 100px;
    }
}





/* NAVBAR */

nav {
    margin-top: 35px;
    height: 65px;
    justify-content: center;
    text-align: center;
}

.nav-img {
    width: 35px;
    margin: 0 65px;
    transition: 0.2s;
}

.nav-option:hover .nav-img {
    transform: scale(1.3);
    filter: drop-shadow(2px 2px 25px #fffff0);
}





/* MAIN */

main img {
    border-radius: 1050px;
    width: 275px;
    margin: 115px 85px 0 275px;
}

#img-cont {
    padding: 125px;
}

main div h2 {
    display: inline-block;
    color: #fffff0;
    height: 300px;
    width: 700px;
    font-size: 115px;
    font-weight: 900;
    padding: 35px;
    transition: 0.2s;
}

main div {
    position: relative;
     display: inline-block;
}

main div:nth-child(2) h2:nth-child(2) {
    position: absolute;
    font-size: 80px;
    top: -100px;
    right: -150px;
    width: 900px;
    height: auto;
    opacity: 0;
    transition: 0.2s;
}



main div:nth-child(2):hover h2:nth-child(2) {
    opacity: 1;
}

main div:nth-child(2):hover h2:nth-child(1) {
    opacity: 0;
}





.separator {
    width: 100%;
    height: 270px;
    background-color: #303841;
}





main div:nth-child(4) img {
    width: 175px;
}

main h2{
    color: #fffff0;
    display: inline-block;
    position: relative;
    top: -55px;
    font-size: 90px;
    font-weight: 900;
    margin-left: 50px;}

#python-cont div {
    white-space: nowrap;
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
}


#python-cont div:nth-child(1) {
    background-color: #954535;
    align-items:flex-end;
    justify-content: flex-start;
}

#python-cont div:nth-child(1) h3 {
    color: #e6cfa5;
    font-size: 250px;
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: -60px;
    left: -20px;
}





#python-cont div:nth-child(2) {
    background-color: #e6cfa5;
    align-items: flex-end;
    justify-content: right;
}

#python-cont div:nth-child(2) h3 {
    color: #483c32;
    font-size: 250px;
    margin: 0;
    position: absolute;
    bottom: -60px;
}




#python-cont div:nth-child(3) {
    background-color: #483c32;
}

#python-cont div:nth-child(3) h3 {
    color: #303841;
    font-size: 250px;
    margin: 0;
    position: absolute;
    bottom: -60px;
}






#web-cont img {
    border-radius: 0;
    width: 175px;
    height: 175px;
}

#web-cont div {
    white-space: nowrap;
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
}


#web-cont div:nth-child(1) {
    background-color: #483c32;
}

#web-cont div:nth-child(1) h3 {
    color: #e6cfa5;
    font-size: 200px;
    margin: 0;
    position: absolute;
    bottom: -50px;
    left: 238px;
}





#web-cont div:nth-child(2) {
    background-color: #e6cfa5;
}

#web-cont div:nth-child(2) h3 {
    color: #954535;
    font-size: 250px;
    margin: 0;
    position: absolute;
    bottom: -60px;
    left: -25px;
}




#web-cont div:nth-child(3) {
    background-color: #954535;
}

#web-cont div:nth-child(3) h3 {
    color: #303841;
    font-size: 250px;
    margin: 0;
    position: absolute;
    bottom: -70px;
    left: 310px;
}