* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Pathway Extreme', sans-serif;
    user-select: none;

}

html {
    background-image: url(../images/lolla-arg-portada.jpg);
    background-repeat:round;
    background-position-y: 0.2%;
}



/* Header */

header {
    width: 100%;
    height: 70px;
    border-radius: 75px;
    position: fixed;
    top: 0;
    z-index: 999;

}

main h1 {
    font-size: 55px;
}

#header_block {
    background-image: linear-gradient(rgba(0,0,0), rgba(255, 255, 255, 0));
    width: 100%;
    height: 120px;
    padding: 10px;
}

#header_text {
    margin: auto;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 70px;
    border-radius: 75px;
}

#mobile {
    display: none;
}

#logo_img {
    margin-top: 1.5%;
    margin-left: 25px;
    display: inline-block;
    width: 20%;
    height: auto;
    position: absolute;
}

#header_text ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#header_text ul a {
    margin: 5px;
    color: rgb(0,0,0);
    font-weight: 900;
    font-size: 22px;
    margin: 17px 0;
    transition: 0.2s;
}

#header_text ul a:nth-child(1):hover {
    font-size: 25px;
    color: rgb(167, 88, 109);
}

#header_text ul a:nth-child(2):hover {
    font-size: 25px;
    color: rgb(0, 96, 129);
}

#header_text ul a:nth-child(3):hover {
    font-size: 25px;
    color: rgb(59, 143, 65);
}



/* Main */

main {
    transform-style: preserve-3d;
}

.diagonal {
    display: flex;
    justify-content: center;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.diagonal::before {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}

.diagonal h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 650px;
    display: inline-block;
}

.diagonal:nth-child(1) h2{
    position: absolute;
    left: 5%;
    top: -20%;
    margin-top: 3%;
    transform: skewY(-2deg);
}

.diagonal:nth-child(2) h2{
    position: absolute;
    transform: skewY(4deg);
    top: -30%;
    font-size: 750px;
}

.diagonal:nth-child(3) h2{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 580px;
    transform: skewY(-2.5deg);
}

.diagonal:nth-child(4) h2 {
    position: absolute;
    font-size: 700px;
    top: -20%;
    transform: skewY(0deg);
}

.diagonal:nth-child(1) {
    transform: skewY(2deg);
    margin: 350px 0 0 0;
    white-space: nowrap;
    z-index: 3;
    background-color: rgb(0, 96, 129);
}

.diagonal:nth-child(2) {
    transform: skewY(-4deg);
    margin: 40px 0;
    white-space: nowrap;
    z-index: 0;
    background-color: rgb(161, 164, 23);
}

.diagonal:nth-child(3) {
    transform: skewY(2.5deg);
    margin: 40px 0 0 0;
    white-space: nowrap;
    z-index: 1;
    background-color: rgb(167, 88, 109);
}

.diagonal:nth-child(4) {
    transform: skewY(0deg);
    margin: 40px 0 150px 0;
    bottom: 25px;
    white-space: nowrap;
    z-index: 0;
    background-color: rgb(59, 143, 65);
}


/* Buttons */

button {
    height: 25%;
    width: 20%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
    border-radius: 100px;
    border: 10px solid black;
    text-align: center;
    font-size: 60px;
}

button p {
    margin: 0 50px;
    font-weight: 900;
}

button:active {
    border: none;
    height: 30%;
    width: 25%;
}




.diagonal .left-b {
    position: absolute;
    left: 0;
}

.diagonal:nth-child(2) .left-b, .diagonal:nth-child(2) .right-b {
    margin: 10% 550px 0 550px;
}

.diagonal:nth-child(3) .right-b {
    left: 16%;
}

.diagonal .right-b {
    position: absolute;
    right: 0;
}

.left-b, .right-b {
    margin: 10% 70px 0 70px;
}

.diagonal:nth-child(1) .left-b {
    left: 59%;
    top: 10%;
}


/* Border colors */


.diagonal:nth-child(1) button {
    border-color: rgb(0, 96, 129);
}

.diagonal:nth-child(2) button {
    border-color: rgb(161, 164, 23);
}

.diagonal:nth-child(3) button {
    border-color: rgb(167, 88, 109);
}

.diagonal:nth-child(4) button {
    border-color: rgb(59, 143, 65);
    border-width: 12px;
}





.diagonal:nth-child(4) .right-b {
    right: 0%;
    bottom: 35%;
    height: 35%;
    width: 28%;
    border-radius: 100px;
    font-size: 100px;
}

.diagonal:nth-child(4) .right-b:active {
    height: 34.5%;
    width: 27.5%;
}




.diagonal .right-b p, .diagonal .left-b p {
    color: rgb(0,0,0);
}

/* Footer */

footer {
    background-color: rgb(0,0,0);
    width: 100%;
    height: 250px;
    padding-top: 50px;
}

.flex-container:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex-container:nth-child(1) div {
    margin: 0 150px;
}

.flex-container:nth-child(2) a, .flex-container:nth-child(3) a, .flex-container:nth-child(4) a {
    margin: 6px 0;
    color: rgb(255, 255, 255);

}

.flex-container ul {
    display: flex;
    flex-direction: column;
}

.flex-container:nth-child(2) a:hover, .flex-container:nth-child(3) a:hover, .flex-container:nth-child(4) a:hover, #underfoot:nth-child(2) a:hover {
    text-decoration: underline;
}

h3 {
    color: rgb(255, 255, 255);
}

#underfoot {
    color: rgb(255, 255, 255);
    margin: 0 350px;
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}



/* Mini desktop version */

@media (max-width: 1872px ) {
    main .diagonal:nth-child(1) h2, main .diagonal:nth-child(2) h2, main .diagonal:nth-child(3) h2, main .diagonal:nth-child(4) h2 {
        font-size: 350px;
    }

    button {
        width: 27%;
        height: 25%;
        overflow: hidden;
    }



    main .diagonal:nth-child(1) h2 {
        top: 30%;
    }
    
    .diagonal:nth-child(1) .left-b {
        left: 40%;
    }

    .diagonal:nth-child(1) .right-b {
        right: 1%;
    }



    main .diagonal:nth-child(2) h2 {
        transform: skewY(2deg);
        top: 40%;
        right: 1%;
    }

    .diagonal:nth-child(2) .left-b {
        left: -15%;
        margin-right: 25px;
        
    }

    .diagonal:nth-child(2) .right-b {
        right: 25%;
        margin-right: 20%;
    }

    .diagonal:nth-child(4) h2 {
        position: absolute;
        font-size: 700px;
        top: 25%;
        left: -2%;
        transform: skewY(0deg);
    }

    .diagonal:nth-child(3) h2 {
        position: absolute;
        top: 25%;
        left: 20%;
    }

    /* Tablet Version */

@media (max-width: 780px) {
    #header_text ul a {
        margin: 5px;
        color: rgb(0,0,0);
        font-weight: 900;
        font-size: 110%;
        margin: 17px 0;
        transition: 0.2s;
    }
}


/* Mobile Version */


@media (max-width: 400px) {

    html {
        background-image: url(../images/lolla-arg-portada.jpg);
        background-repeat:repeat;
        background-position-y: 35%;
    }


    /* Header */


    header {
        width: 100%;
        height: 10px;
    }

    #header_text {
        display: none;
    }

    #logo_img {
        margin: 35px 5%;
        width: 60%;
        height: auto;

    }


    /* Sandwich Menu */


    .sandwich {
        margin-left: 74%;
        margin-top: 8%;
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 40px;
        z-index: 3;
    }
    
    .line {

        width: 100%;
        height: 6px;
        margin: 3px 0;
    }




    .line:nth-child(1) {
        background-color: rgb(212, 83, 118);
    }

    .line:nth-child(2) {
        background-color: rgb(3, 146, 194);
    }

    .line:nth-child(3) {
        background-color: rgb(47, 172, 55);
    }

    #mobile {
        display: none;
        position: fixed;
        z-index: 2;
    }

    #mobile ul a {
        color: rgb(255, 255, 255);
        margin: 12% 0;
        font-weight: bold;
        font-size: 25px;
    }

    #mobile ul {
        display: flex;
        flex-direction: column;
        background-color: rgb(39, 35, 35);
        padding-top: 120px;
        height: 250px;
        width: 200px;
        border-bottom-left-radius: 80px;
        border-bottom-right-radius:10px;
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
    }
    
    #mobile.active {
        display: block;
    }


    /* Main */

    .diagonal h2 {
        display: none;
    }





    button {
        height: 30%;
        width: 55%;
        background-color: rgb(255, 255, 255);
        display: inline-block;
        position: absolute;
        border-radius: 100px;
        text-align: center;
        font-size: 35px;
    }
    
    button p {
        margin: 0 2%;
        font-weight: 900;
    }
    
    button:active {
        border: none;
    }


    .left-b, .right-b {
        margin: 0;
    }




    .diagonal:nth-child(1) .left-b {
        top: 50%;
        left: 5%;
    }

    .diagonal:nth-child(1) .right-b {
        top: 10%;
        left: 40%;
    }



    .diagonal:nth-child(2) .left-b {
        margin: 0;
        top: 55%;
        left: 5%;
    }

    .diagonal:nth-child(2) .right-b {
        top: 5%;
        right: -15%;
    }



    .diagonal:nth-child(3) .left-b {
        margin: 0;
        top: 55%;
        left: 5%;
    }

    .diagonal:nth-child(3) .right-b {
        margin: 0;
        top: 10%;
        left: 35%;
    }

    .diagonal:nth-child(4) .right-b {
        margin: 0;
        top: 22%;
        left: 13%;
        height: 55%;
        width: 75%;
    }

    .diagonal:nth-child(4) .right-b p{
        margin: 0 2%;
    }


    .diagonal {
        height: 300px;
    }


    /* Footer */

    footer .flex-container {
        display: flex;
    }

    .flex-container:nth-child(1) div {
        margin: 0 23px;
    }

    footer .flex-container h3 {
        font-size: 17px;
    }

    footer .flex-container .flex-container a {
        font-size: 14px;
        margin: 12px 0;
    }

    #third-flex a {
        margin: 9px 0;
    }

    #underfoot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 20px 25px 0 25px;
    }

    #underfoot div {
        font-size: 15px;
    }

}
}